
<!-- Estructura de la página de inicio de sesión -->
<div class="loginContainer">
  <div class="principalContainerAlert">
    <!-- Título de la página de inicio de sesión -->
    <div class="titleLoginContainer">
      <h1>Usuario registrado exitosamente</h1>
    </div>
    <div class="principalContainerAlertForm">
        <h2 class="alertMessage">Presione el boton para continuar</h2>
        <div class="buttonLoginContainer">
          <button routerLink="/login" id="buttonLogin" type="submit">LOGIN</button>
        </div>
    </div>
  </div>
</div>
