<div class="mainBoxPay"><!-- Div que contiene a el logo,texto y boton  -->
    <div class="logoPay"><!--Div que contiene el logo -->
        <p>KOAJ</p><!--Texto del logo -->
    </div>
    <div class="textPay"><!--Div que contiene el texto de pago -->
        <p>¡Gracias por elegir nuestra tienda en línea como su destino de compras! Con su apoyo, nos ayuda a crecer y continuar ofreciendo productos y servicios excepcionales.</p><!--Texto de pago -->

        <p>¡Disfruta de tu compra y esperamos volver a verte pronto en nuestra tienda online!</p><!--Texto de pago -->

    </div>
    <div class="buttomPay"><!--Div que contiene el boton de pago -->
        <a href=" ">Ir al home</a><!--Texto del boton del pago-->
    </div>
