<div class="registerContainer">
  <div class="principalRegisterContainer">
    <div class="titleRegisterContainer">
      <h1>Register</h1>
    </div>
    <div class="principalContainerRegisterFrom">
      <form (ngSubmit)="register()" #myForm="ngForm">
        <!-- Campos del formulario -->
        <div class="usernameRegisterContainer">
          <label>Usuario:</label>
          <input type="text" id="usernameRegister" name="username" [(ngModel)]="user.username" required>
        </div>
        <div class="paswordRegisterContainer">
          <label>Contraseña:</label>
          <input type="password" id="passwordRegister" name="password" [(ngModel)]="user.password" required>
        </div>
        <div class="fullNameRegisterContainer">
          <label>Nombre completo:</label>
          <input type="text" id="fullNameRegister" name="fullname" [(ngModel)]="user.fullName" required>
        </div>
        <div class="emailRegisterContainer">
          <label>Correo:</label>
          <input type="email" id="emailRegister" name="email" [(ngModel)]="user.email" required>
        </div>
        <div class="phoneRegisterContainer">
          <label>Celular:</label>
          <input type="text" id="phoneRegister" name="phone" [(ngModel)]="user.phone" required>
        </div>
        <div class="adressRegisterContainer">
          <label>Dirección:</label>
          <input type="text" id="adressRegister" name="address" [(ngModel)]="user.address" required>
        </div>
        <!-- Botón de registro -->
        <div class="buttonRegisterContainer">
          <button type="submit" id="buttonRegister" [disabled]="!myForm.form.valid">REGISTRAR</button>
        </div>
        <div class="buttonRegisterContainer">
          <button type="submit" id="buttonRegister" routerLink="/login">ATRÁS</button>
        </div>
      </form>

    </div>
  </div>
</div>
