<app-nav></app-nav>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="bloque_top">
  <h1 class="title_about_us" id="title">Conoce más sobre</h1> <!-- Título principal de la sección -->
  <div class="bloque_seccion">
    <h2 class="container" id="title">nosotros</h2> <!-- Título secundario de la sección -->
    <p class="container_text">
      En Koaj, Nos esforzamos por ofrecer prendas de vestir de alta calidad, diseñadas con atención al detalle y confeccionadas con los mejores materiales. Nuestra colección incluye variedad de estilos, desde lo clásico y sofisticado hasta lo moderno y vanguardista, para adaptarnos a los gustos y preferencias de cada individuo.
    </p> <!-- Párrafo descriptivo de la sección -->
    <div class="container_img">
      <div class="item">
        <img src="../../../assets/img/image.jpg" class="img" alt="Descripción de la imagen">
        <p class="text_2_benefits">En nuestra tienda, encontrarás una selección cuidadosamente curada de ropa para hombres y mujeres. Desde elegantes trajes y camisas hasta cómodos jeans y prendas casuales, tenemos todo lo que necesitas para lucir a la moda en cualquier ocasión. Nuestro equipo de expertos en moda está siempre disponible para brindarte asesoramiento personalizado y ayudarte a encontrar el conjunto perfecto que refleje tu estilo único.</p>
      </div> <!-- Contenedor de imagen y texto 1 -->
      <div class="item">
        <img src="../../../assets/img/image2.jpg" class="img" id="img2" alt="Descripción de la imagen">
        <p> </p> <!-- Contenedor de imagen y texto 2 (texto vacío) -->
      </div>
    </div> <!-- Contenedor de imágenes -->
  </div> <!-- Bloque de sección -->
</div> <!-- Bloque superior -->
</body>
</html>
