<app-nav></app-nav>
<div class="mainBox"><!--Div que contiene todo el contenido de la pagina-->
    <div class="number"><!--Div que contiene el numero de error -->
        <p>404</p><!--Numero de error-->
    </div>
    <div class="notFound"><!--Div que contiene el texto de not found-->
        <div class="text"><!--Div que contiene el texto de not found-->
            <p>Page not found.</p><!--Texto que contiene el div de not found-->
        </div>
    </div>
    <div class="koaj"><!--Div que contiene el logo de la empresa-->
        <p>KOAJ</p><!--Texto que contiene el div del logo de la empresa-->
    </div>
</div>
