<app-nav></app-nav>
<div class="mainBoxLogOut"><!-- Contenedor principal -->
  <div class="logoLogOut"><!-- Contenedor del logo -->
    <p>KOAJ</p><!-- Texto del logo -->
  </div>
  <div class="textLogOut"><!-- Contenedor de texto -->
    <p class="p1">Sesión Cerrada</p><!-- Texto de sesión cerrada -->
    <p class="p2">¡Esperamos verte pronto!</p><!-- Texto de despedida -->
  </div>
  <div routerLink="/" class="buttonLogOut"><!-- Contenedor del botón -->
    <a >Volver</a><!-- Texto del botón -->
  </div>

</div>