<app-nav></app-nav>
<div class="containHome">
  <!-- La clase "containHome" es un contenedor principal que agrupa los elementos de la página de inicio. -->

  <div class="imageHome">
    <!-- La clase "imageHome" se refiere al contenedor de la imagen de la página de inicio. -->

    <img src="https://promos.koaj.co/catalogo/col/images/foto-3-copy.png" alt="image-home">
    <!-- La etiqueta <img> muestra una imagen y utiliza el atributo "src" para especificar la URL de la imagen. El atributo "alt" proporciona un texto alternativo para la imagen en caso de que no se pueda cargar. -->
  </div>

  <div class="descriptionHome">
    <!-- La clase "descriptionHome" se refiere al contenedor de la descripción de la página de inicio. -->

    <div class="containDescription">
      <!-- La clase "containDescription" es un contenedor secundario que envuelve el párrafo de descripción. -->

      <p>busca y descubre los nuevos productos</p>
      <!-- La etiqueta <p> define un párrafo de texto. En este caso, muestra la descripción de la página de inicio. -->
    </div>

    <a href="products">
      <!-- La etiqueta <a> crea un enlace. En este caso, el enlace no tiene URL definida (#) por lo que no lleva a ninguna página específica. -->

      <button>Ver mas...</button>
      <!-- La etiqueta <button> crea un botón. En este caso, el botón tiene el texto "See more..." para indicar que puede verse más contenido relacionado. -->
    </a>
  </div>

  <div class="decorationHome">
    <!-- La clase "decorationHome" se refiere al contenedor de decoración de la página de inicio. -->

    <div class="triangleOne"></div>
    <!-- La clase "triangleOne" se refiere a un elemento decorativo en forma de triángulo. -->

    <div class="triangleTwo"></div>
    <!-- La clase "triangleTwo" se refiere a otro elemento decorativo en forma de triángulo. -->

    <div class="triangleThree"></div>
    <!-- La clase "triangleThree" se refiere a otro elemento decorativo en forma de triángulo. -->
  </div>
</div>
<div class="triangles-container-top">
  <div class="triangle-up"></div>
  <div class="triangle-up rotated"></div>
  <div class="triangle-up"></div>
</div>
<div class="carrouselContainer">
  <image-slider></image-slider>
</div>
<div class="triangles-container-bottom">
  <div class="triangle-up rotated"></div>
  <div class="triangle-up"></div>
  <div class="triangle-up rotated"></div>
</div>