.containHome {
  margin-left: 6.77%;
  /* Modifica el margen izquierdo del elemento */
  width: 93.23%;
  /* Modifica el ancho del elemento */
  display: flex;
  /* Convierte el contenedor en un contenedor flexible */
  position: relative;
  /* Establece la posición relativa del elemento */
}

.descriptionHome {
  display: flex;
  /* Convierte el contenedor en un contenedor flexible */
  flex-direction: column;
  /* Establece la dirección de los elementos como columna */
  justify-content: center;
  /* Alinea los elementos verticalmente en el centro */
  width: 27%;
  /* Modifica el ancho del elemento */
  font: normal normal bold 1.5vw/1.4em Helvetica;
  /* Modifica la fuente, el tamaño y el interlineado del texto */
}

.descriptionHome .containDescription {
  width: 100%;
  /* Modifica el ancho del elemento */
  text-align: left;
  /* Alinea el texto a la izquierda */
  letter-spacing: 0px;
  /* Modifica el espaciado entre caracteres */
  color: #000000;
  /* Modifica el color del texto */
  text-transform: uppercase;
  /* Transforma el texto a mayúsculas */
  opacity: 1;
  /* Establece la opacidad del elemento */
  margin-bottom: 11px;
  /* Modifica el margen inferior del elemento */
}

.descriptionHome a {
  pointer-events: none;
}

.descriptionHome button {
  width: 50%;
  /* Modifica el ancho del botón */
  height: 6vh;
  /* Modifica la altura del botón */
  background: #000000 0% 0% no-repeat padding-box;
  /* Modifica el fondo del botón */
  border: 1px solid #000000;
  /* Modifica el borde del botón */
  color: white;
  /* Modifica el color del texto del botón */
  border-radius: 50px;
  /* Modifica el radio de borde del botón (forma redondeada) */
  opacity: 1;
  /* Establece la opacidad del botón */
  text-align: center;
  /* Alinea el texto al centro */
  font: normal normal bold 1.2vw/30px Helvetica;
  /* Modifica la fuente, el tamaño y el interlineado del texto del botón */
  letter-spacing: 0px;
  /* Modifica el espaciadorelativere caracteres */
  color: #FFFFFF;
  /* Modifica el color del texto del botón */
  opacity: 1;
  /* Establece la opacidad del botón */
  pointer-events: all;
  cursor: pointer;
  /* Cambia el cursor del mouse al pasar por encima del botón */
}

.descriptionHome button:hover {
  background: #1b1b1b 0% 0% no-repeat padding-box;
  /* Modifica el fondo del botón al pasar el cursor por encima */
}

.imageHome {
  width: 40.26%;
  /* Modifica el ancho del elemento */
  height: 67.12%;
  /* Modifica la altura del elemento */
}

.imageHome img {
  width: 100%;
  /* Modifica el ancho de la imagen */
  height: 100%;
  /* Modifica la altura de la imagen */
  margin-right: 3%;
  /* Modifica el margen derecho de la imagen */
}

.decorationHome {
  display: inline-flex;
  /* Modifica el tipo de visualización del elemento */
  flex-direction: column;
  /* Modifica la dirección del flex container */
  position: relative;
  /* Modifica la posición del elemento */
  left: 32.5%;
  /* Modifica la posición horizontal del elemento */
  top: 5%;
  /* Modifica la posición vertical del elemento */
  padding: 0%;
  /* Modifica el relleno interno del elemento */
}

.triangleOne {
  position: absolute;
  /* Modifica la posición del elemento */
  right: 1px;
  width: 0;
  /* Modifica el ancho del elemento */
  height: 0;
  /* Modifica la altura del elemento */
  border-right: 158px solid transparent;
  /* Modifica el borde derecho */
  border-bottom: 33vh solid hwb(0 46% 52%);
  /* Modifica el borde inferior */
  margin-left: 55%;
  /* Modifica el margen izquierdo del elemento */
  transform: rotate(180deg);
  /* Modifica la rotación del elemento */
}

.triangleTwo {
  position: absolute;
  /* Modifica la posición del elemento */
  right: 1px;
  width: 0;
  /* Modifica el ancho del elemento */
  height: 0;
  /* Modifica la altura del elemento */
  border-right: 123px solid transparent;
  /* Modifica el borde derecho */
  border-bottom: 34vh solid #474545;
  /* Modifica el borde inferior */
  transform: rotate(180deg);
  /* Modifica la rotación del elemento */
}

.triangleThree {
  position: absolute;
  /* Modifica la posición del elemento */
  top: 1px;
  right: 0px;
  width: 0;
  /* Modifica el ancho del elemento */
  height: 0;
  /* Modifica la altura del elemento */
  border-right: 85px solid transparent;
  /* Modifica el borde derecho */
  border-bottom: 33vh solid #000000;
  /* Modifica el borde inferior */
  /*margin-left: 102%; /* Modifica el margen izquierdo del elemento */
  transform: rotate(180deg);
  /* Modifica la rotación del elemento */
}

@media (max-width: 776px) {
  .containHome {
    display: block;
    /* Modifica el tipo de visualización del elemento */
    align-items: center;
    /* Modifica la alineación de los elementos secundarios en el eje transversal */
  }

  .decorationHome,
  .triangleOne,
  .triangleTwo,
  .triangleThree {
    display: none;
    /* Modifica la visualización de los elementos */
  }

  .imageHome {
    width: 600px;
    /* Modifica el ancho del elemento */
    height: 540px;
    /* Modifica la altura del elemento */
  }

  .descriptionHome {
    width: 400px;
    /* Modifica el ancho del elemento */
    font: normal normal bold 30px/30px Helvetica;
    /* Modifica la fuente, el tamaño y el interlineado del texto */
  }

  .descriptionHome .containDescription {
    text-align: left;
    /* Modifica la alineación del texto dentro del contenedor */
  }

  .descriptionHome button {
    width: 120px;
    /* Modifica el ancho del botón */
    height: 6vh;
    /* Modifica la altura del botón */
    font: normal normal bold 15px/30px Helvetica;
    /* Modifica la fuente, el tamaño y el interlineado del texto del botón */
  }
}
@media (max-width: 720px) {
  
  .imageHome {
    width: 636px;
    /* Modifica el ancho del elemento */
    height: 540px;
    /* Modifica la altura del elemento */
  }
}

@media (max-width: 650px) {
  .imageHome {
    width: 500px;
    /* Modifica el ancho del elemento */
    height: 440px;
    /* Modifica la altura del elemento */
  }
}

@media (max-width: 540px) {
  .imageHome {
    width: 450px;
    /* Modifica el ancho del elemento */
    height: 390px;
    /* Modifica la altura del elemento */
  }
}

@media (max-width: 480px) {
  .imageHome {
    width: 400px;
    /* Modifica el ancho del elemento */
    height: 340px;
    /* Modifica la altura del elemento */
  }

  .descriptionHome {
    width: 300px;
    /* Modifica el ancho del elemento */

    font: normal normal bold 20px/30px Helvetica;
    /* Modifica la fuente, el tamaño y el interlineado del texto */
  }

  .descriptionHome button {
    width: 80px;
    /* Modifica el ancho del botón */
    height: 40px;
    /* Modifica la altura del botón */
    font: normal normal bold 10px/30px Helvetica;
    /* Modifica la fuente, el tamaño y el interlineado del texto del botón */
  }
}

.carousel {
  position: fixed;
  width: 100%;
  top: 100px;
}

.carrouselContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
  transform-origin: bottom center;
  margin: 0 10px;
  /* Espacio entre los triángulos */
}

/* Rotación de los triángulos */
.triangle-up.rotated {
  transform: rotate(45deg);
}

/* Contenedor para los triángulos superiores */
.triangles-container-top {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* Ajusta el espacio desde la parte superior del slider */
}

/* Contenedor para los triángulos inferiores */
.triangles-container-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* Ajusta el espacio desde la parte inferior del slider */
}

@media (max-width: 420px) {
  .imageHome {
    width: 360px;
    /* Modifica el ancho del elemento */
    height: 300px;
    /* Modifica la altura del elemento */
  }

  .triangles-container-bottom,
  .triangles-container-top {
    display: none;

  }
}

@media (max-width: 380px) {
  .imageHome {
    width: 335px;
    /* Modifica el ancho del elemento */
    height: 290px;
    /* Modifica la altura del elemento */
  }
}

@media (max-width: 365px) {
  .imageHome {
    width: 300px;
    /* Modifica el ancho del elemento */
    height: 250px;
    /* Modifica la altura del elemento */
  }
}

@media (max-width: 365px) {
  .imageHome {
    width: 300px;
    /* Modifica el ancho del elemento */
    height: 250px;
    /* Modifica la altura del elemento */
  }
}

@media (max-width: 335px) {
  .imageHome {
    width: 250px;
    /* Modifica el ancho del elemento */
    height: 200px;
    /* Modifica la altura del elemento */
  }
}